{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to buy "{{item}}"?</p>

			<form action="{% url 'buy_product' seller.id item.id  %}" method="POST">

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'location' seller.id%}">Cancel</a>

				<input class="btn btn-success" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}
